<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>
<main class="container">
    <div class="header">
        <h1>Products</h1>
        <%= link_to "New product", new_product_path, class: "btn btn--primary" %>
    </div>

    <%= render @products %>
</main>
