<h1>Products#new</h1>
<p>Find me in app/views/products/new.html.erb</p>
<main class="container">
    <%= link_to sanitize("&larr; Back to products"), products_path %>

    <div class="header">
        <h1>New product</h1>
    </div>

    <%= render "form", product: @product %>
</main>
